TCP/Client/*.jpeg
TCP/Client/*.jpg
TCP/Client/*.mkv
TCP/Client/*.pdf
TCP/Client/*.txt
TCP/Client/*.gif

UDP/Client/*.jpeg
UDP/Client/*.jpg
UDP/Client/*.mkv
UDP/Client/*.pdf
UDP/Client/*.txt
UDP/Client/*.gif
